*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

*HW01/.idea
*HW01/*.iml
*HW01/target

*HW02/.idea
*HW02/*.iml
*HW02/target

*HW03/.idea
*HW03/*.iml
*HW03/target

*HW04/.idea
*HW04/*.iml
*HW04/target

*HW05/.idea
*HW05/*.iml
*HW05/target

*HW06/.idea
*HW06/*.iml
*HW06/target

*HW07/.idea
*HW07/*.iml
*HW07/target

*HW08/.idea
*HW08/*.iml
*HW08/target

*HW09/.idea
*HW09/*.iml
*HW09/target

*HW10/.idea
*HW10/*.iml
*HW10/target